{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password Done {% endblock title %}

{% block main-content %}

<div class="container my-5">
	<div class="row">
		<div class="col-xl-5 col-sm-5">
			<div class="pass-done">
				<h3>Welcome {{ user }} </h3><br>
				<button class="btn btn-primary custom-btn"><a href="{% url 'profile' %}">Change Password Done</a></button>
			</div>
		</div>
		<div class="col-xl-7 col-sm-">
			<div class="pass-change">
				<h3>Password Change Successfully !!</h3><br><br>
				<div class="check-img">
					<img src="{% static 'app/images/check.png' %}" alt="" width="200">
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock main-content %}