{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete {% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h4>Reset Password Completed ! </h4><br>
   <div>
      <img src="{% static 'app/images/check.png' %}" alt="" width="200">
   </div><br><br>
   <strong>Click here to</strong>
   <button type="button" class="btn btn-info">
      <a href="{% url 'login' %}"><b>Login</b></a>
   </button> 
  </div>
 </div>
</div>
{% endblock main-content %}